#table-2 {
  z-index: 1100;
  position: fixed;
  top: 5%;
  left: 25%;
  background-color: white;
}
.more-details-main {
  margin: 2%;
  padding: 1%;
  border: 2px solid black;
  width: 50%;
}
.editable-input::before {
  border: none;
}
.editable-input::after {
  border: 2px solid red;
}
.close {
  cursor: pointer;
}
.more-details-main .form-control {
  width: 50%;
}
.comment-input {
  width: 100% !important;
}
